<div class="row">
  <div class="col-md-7">
    <h2>Your orders</h2>
    <accordion isAnimated="true">
      <ng-container *ngFor="let order of orders$ | async">
        <accordion-panel
          heading="{{order.creationDate | date}} - {{toMoney(order.orderTotal)}}">


          <div class="row">
            <div class="col-md-6">Shipment: {{order.shipment}}</div>
            <div class="col-md-6">Payment: {{order.payment}}</div>
          </div>

          <hr>

          <div class="row">
            <div class="col-md-6">
              <h5>Billing Address:</h5>
              {{toAddressString(order.billingAddress)}}
            </div>
            <div class="col-md-6">

              <h5>Shipping Address:</h5>
              {{toAddressString(order.senderAddress)}}
            </div>
          </div>

          <hr>

          <div class="row col-md-12">
            <h5>Items:</h5>
          </div>
          <div class="row col-md-12">
            <br>
            <ul>
              <li *ngFor="let item of order.items">
                <span>{{item.quantity}}x </span>
                <a [routerLink]="['/products', item.productId]">{{item.name}}</a>
                <span> - {{toMoney(item.price)}}</span>
              </li>
            </ul>
          </div>

          <hr>
          <div class="row col-md-12">
            <h5>Total: {{toMoney(order.orderTotal)}}</h5>
          </div>

        </accordion-panel>
      </ng-container>
    </accordion>
  </div>
  <div class="col-md-5">
    <h2>Default Address</h2>
    <form [formGroup]="form">
      <div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="prename">
              Vorname
              <input class="form-control" id="prename" formControlName="prename" type="text"/>
            </label>
          </div>
          <div class="form-group col-md-6">
            <label for="name">
              Name
              <input class="form-control" id="name" formControlName="name" type="text"/>
            </label>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-9">
            <label for="street">
              Strasse
              <input class="form-control" id="street" formControlName="street" type="text"/>
            </label>
          </div>
          <div class="form-group col-md-3">
            <label for="number">
              Nr.
              <input class="form-control" id="number" formControlName="number" type="text"/>
            </label>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-3">
            <label for="zip">
              PLZ
              <input class="form-control" id="zip" formControlName="zip" type="text"/>
            </label>
          </div>
          <div class="form-group col-md-9">
            <label for="city">
              Ort
              <input class="form-control" id="city" formControlName="city" type="text"/>
            </label>
          </div>
        </div>
      </div>
      <div class="row col-md-12">
        <button class="btn btn-outline-success float-right" (click)="submit()">Save address</button>
      </div>
    </form>
  </div>
</div>
